{% form_theme form 'AitCmsBundle:Form:block_admin_fields.html.twig' %}
<div class="ait-cms-block">
    <div class="ait-cms-block-header panel panel-default" data-target="#{{ form.vars.id }}" data-toggle="collapse" role="button">
        <div class="panel-body">
            <strong>{{ form.children['name'].vars.value }}</strong>
            <i class="fa fa-eye{{ not form.children['enabled'].vars.data ? '-slash' }}"></i>
        </div>
    </div>
    <div id="{{ form.vars.id }}" class="ait-cms-block-content collapse col-md-12">
        {{ form_widget(form) }}
    </div>
</div>
