{% form_theme form 'AitCmsBundle:Form:block_admin_fields.html.twig' %}

{# http://stackoverflow.com/a/17491991 #}
{% for item in form.children %}
    {% if item.vars.block_prefixes[1] == 'checkbox' %}
        <input type="hidden" name="{{ item.vars.full_name }}" value="0">
    {% endif %}
{% endfor %}

<div class="ait-cms-block">
    <div class="ait-cms-block-header panel panel-default" data-target="#{{ form.vars.id }}" data-toggle="collapse" role="button">
        <div class="panel-body">
            <strong>{{ form.vars.data.name }}</strong>
            <i class="fa fa-eye{{ not form.vars.data.enabled ? '-slash' }}"></i>
        </div>
    </div>
    <div id="{{ form.vars.id }}" class="ait-cms-block-content collapse">
        <div class="block-action-container">
            <div class="btn-group">
                <label class="btn btn-sm btn-info sonata-ba-action">
                    <input class="enabled-checkbox hidden" type="checkbox" {{ form.enabled.vars.data ? 'checked' }} data-id="{{ form.enabled.vars.id }}">
                    <span class="enabled-checkbox-on"><i class="fa fa-eye"></i> Visible</span>
                    <span class="enabled-checkbox-off"><i class="fa fa-eye-slash"></i> Hidden</span>
                </label>
                <a href="#" class="btn btn-sm btn-danger sonata-ba-action delete-block-btn" data-id="{{ form.vars.data.id }}" data-csrf-token="{{ csrf_token('block_delete_%s'|format(form.vars.data.id)) }}"><i class="fa fa-minus-circle"></i> Delete</a>
            </div>
            <span class="update-changes-label label label-info hidden">Don't forget to save your changes!</span>
        </div>
        {{ form_widget(form) }}
    </div>
</div>
