{% form_theme form 'AitCmsBundle:Form:block_admin_fields.html.twig' %}
<div class="ait-cms-block">
    <div class="ait-cms-block-header panel panel-default" data-target="#{{ form.vars.id }}" data-toggle="collapse" role="button">
        <div class="panel-body">
            <strong>{{ form.children['name'].vars.value }}</strong>
            <span class="glyphicon glyphicon-eye-{{ form.children['enabled'].vars.data ? 'open' : 'close' }}"></span>
        </div>
    </div>
    <div id="{{ form.vars.id }}" class="ait-cms-block-content collapse">
        {{ form_widget(form) }}
    </div>
</div>
