{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block form_row %}
    {% if form.parent.vars.name|default == 'blocks' %}
        <div class="ait-cms-block">
            <div class="ait-cms-block-header panel panel-default" data-target="#{{ form.vars.id }}" data-toggle="collapse" role="button">
                <div class="panel-body">
                    <strong>{{ form.children['name'].vars.value }}</strong>
                    <i class="fa fa-eye{{ not form.children['enabled'].vars.data ? '-slash' }}"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="{{ form.vars.id }}" class="ait-cms-block-content collapse col-md-12">
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ait-cms-field {{ form.vars.attr.ait_cms_field_class|default('col-md-12') }}">
            {{ parent() }}
        </div>
    {% endif %}
{% endblock form_row %}
