{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block form_row %}
    {% if form.parent.vars.name|default == 'blocks' %}
        <div class="ait-cms-block">
            <div class="ait-cms-block-header panel panel-default" data-target="#{{ form.vars.id }}" data-toggle="collapse" role="button">
                <div class="panel-body">
                    <strong>{{ form.vars.data.name }}</strong>
                    <i class="fa fa-eye{{ not form.vars.data.enabled ? '-slash' }}"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="{{ form.vars.id }}" class="ait-cms-block-content collapse col-md-12">
                        <div class="btn-group block-actions">
                            <label class="btn btn-sm btn-info sonata-ba-action">
                                <input class="enabled-checkbox hidden" type="checkbox" {{ form.enabled.vars.data ? 'checked' }} data-id="{{ form.enabled.vars.id }}">
                                <span class="enabled-checkbox-on"><i class="fa fa-eye"></i> Visible</span>
                                <span class="enabled-checkbox-off"><i class="fa fa-eye-slash"></i> Hidden</span>
                            </label>
                            <a href="#" class="btn btn-sm btn-danger sonata-ba-action delete-block-btn" data-id="{{ form.vars.data.id }}"><i class="fa fa-minus-circle"></i> Delete</a>
                        </div>
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ait-cms-field {{ form.vars.attr.ait_cms_field_class|default('col-md-12') }}">
            {{ parent() }}
        </div>
    {% endif %}
{% endblock form_row %}
