{% block ait_blocks_widget %}
    {% form_theme form 'AitCmsBundle:Form:block_admin_fields.html.twig' %}

    <style>
        .block-workspace-widget-container {

        }
        .ait-cms-block-content {
            background: rgba(0, 0, 0, 0.1);
            padding: 15px 0 15px 0;
            margin: 20px 0 20px 0;
            overflow: auto;
        }
        .ait-cms-block {
            margin-bottom: 20px;
        }
        .ait-cms-block .panel {
            margin-bottom: 0;
        }
        .block-select {
            margin-bottom: 30px;
        }
        .add-block-container {
            position: absolute;
            right: 10px;
            top: 9px;
        }
        .add-block-select {
            height: 0;
            width: 0;
            overflow: hidden;
        }
        .add-block-btn {
            float: right;
        }
        .add-block-btn .glyphicon {
            top: 1px;
        }
        .loader {
            display: none;
            float: right;
            margin: 10px 10px 0 0
        }
        .ait-cms-field-separator {
            background: #d3cfc8;
            height: 1px;
            margin-bottom: 20px;
            clear: both;
        }
        .enabled-checkbox-btn:active {
            box-shadow: none;
        }
        .enabled-checkbox + .enabled-checkbox-on {
            display: none;
        }
        .enabled-checkbox + .enabled-checkbox-on + .enabled-checkbox-off {
            display: inline-block;
        }
        .enabled-checkbox:checked + .enabled-checkbox-on {
            display: inline-block;
        }
        .enabled-checkbox:checked + .enabled-checkbox-on + .enabled-checkbox-off {
            display: none;
        }
        .block-action-container {
            clear: both;
            margin-bottom: 30px;
            padding: 0 15px 0 15px;
        }
        .sortable-item-placeholder {
            border: 3px dashed rgba(44, 53, 51, 0.55);
            margin-bottom: 20px;
        }
        #{{ id }} {
            overflow: auto;
        }
    </style>

    <div id="block-workspace-widget-container" class="block-workspace-widget-container">
        <div class="add-block-container">
            <a href="#" id="add-block-btn" class="btn btn-success btn-sm sonata-ba-action add-block-btn"><i class="fa fa-plus-circle"></i> Add new</a>
            <img id="loader" class="loader" src="{{ asset('bundles/sonataadmin/ajax-loader.gif') }}">
            <select id="add-block-select" class="add-block-select invisible" dir="rtl">
                <option value="">Add Block</option>
                {% for service_id, instance in blocks %}
                    <option value="{{ service_id }}">{{ instance.title }}</option>
                {% endfor %}
            </select>
        </div>

        {#<div id="ait-cms-block-container" class="ait-cms-block-container">#}
            {{ form_widget(form) }}
        {#</div>#}
    </div>

    <script>
        $(function () {
            'use strict';
            
            var widgetContainer = $('#block-workspace-widget-container'),
                blockContainer = $('#ait-cms-block-container'),
                blockList = $('#{{ id }}'),
                addBlockSelect = $('#add-block-select');

            $('#add-block-btn').on('click', function () {
                addBlockSelect.select2('open');
                return false;
            });

            addBlockSelect.on('change', function () {
                var select = $(this),
                    loader = $('#loader').show(),
                    routeParams = {
                        admin_service_id: '{{ sonata_admin.admin.code }}',
                        uniqid: '{{ sonata_admin.admin.uniqid }}'
                    };
                if (select.val()) {
                    routeParams.service_id = select.val();
                    $.get(Routing.generate('ait_cms_block_blank_form', routeParams), function (response) {
                        blockList.prepend($(response).hide().fadeIn());
                        select.val('').trigger('change');
                        ait_tinimce_init();
                        $(document).trigger('sonata-admin-append-form-element');
                        loader.hide();
                        blockContainer.sortable('refresh');
                    });
                }

                return false;
            });

            widgetContainer.on('change', '.enabled-checkbox', function () {
                var self = $(this);
                $('#' + self.data('id')).iCheck(self.is(':checked') ? 'check' : 'uncheck');
                $('.update-changes-label', self.parents('.block-action-container')).toggleClass('hidden');
            });

            widgetContainer.on('click', '.delete-block-btn', function () {
                if (!confirm('Really delete?')) {
                    return false;
                }

                var self = $(this),
                    container = self.parents('.ait-cms-block'),
                    id = self.data('id'),
                    postData = {
                        id: id,
                        csrf_token: self.data('csrf-token')
                    };

                container.slideUp();

                if (id) {
                    $.post(Routing.generate('ait_cms_block_delete'), postData);
                }

                return false;
            });

            blockList.sortable({
                tolerance: 'pointer',
                revert: 200,
                items: '.ait-cms-block',
                placeholder: 'sortable-item-placeholder',
                handle: '.ait-cms-block-header',
                start: function(event, ui) {
                    ui.placeholder.width(ui.item.width() - 6);
                    ui.placeholder.height(ui.item.height() - 6);
                },
                update: function() {
                    $('.ait-cms-block').each(function (i, el) {
                        $('.ait-cms-block-position', el).val(i);
                    });
                }
            });
        });
    </script>
{% endblock %}
