{% block ait_blocks_widget %}
    <style>
        .block-workspace-widget-container {

        }
        #{{ id }} > .ait-cms-form-group {
            background: rgba(0, 0, 0, 0.1);
            padding: 10px;
            margin-bottom: 10px;
        }
        .block-select {
            margin-bottom: 30px;
        }
        .loader {
            display: none;
            position: absolute;
            top: 55px;
            left: 60px;
        }
    </style>

    <div id="block-workspace-widget-container" class="block-workspace-widget-container">
        <select id="block-select" class="block-select">
            <option value="">Add Block</option>
            {% for service_id, instance in blocks %}
                <option value="{{ service_id }}">{{ instance.title }}</option>
            {% endfor %}
        </select>

        <img id="loader" class="loader" src="{{ asset('bundles/sonataadmin/ajax-loader.gif') }}">
        {{ form_widget(form) }}
    </div>

    <script>
        $(function () {
            'use strict';

            $('#block-select').on('change', function () {
                var select = $(this),
                    loader = $('#loader').show(),
                    routeParams = {
                        admin_service_id: '{{ sonata_admin.admin.code }}',
                        uniqid: '{{ sonata_admin.admin.uniqid }}'
                    };
                if (select.val()) {
                    routeParams.service_id = select.val();
                    $.get(Routing.generate('ait_cms_blank_form', routeParams), function (response) {
                        $('#{{ id }}').prepend($(response).hide().fadeIn());
                        select.val('').trigger('change');
                        ait_tinimce_init();
                        $(document).trigger('sonata-admin-append-form-element');
                        loader.hide();
                    });
                }

                return false;
            });
        });
    </script>
{% endblock %}
