{% block ait_blocks_widget %}
    {% form_theme form 'AitCmsBundle:Form:block_admin_fields.html.twig' %}

    <style>
        .block-workspace-widget-container {

        }
        .ait-cms-block-content {
            background: rgba(0, 0, 0, 0.1);
            padding: 15px 0 15px 0;
            margin-bottom: 20px;
        }
        .block-select {
            margin-bottom: 30px;
        }
        .add-block-container {
            position: absolute;
            right: 10px;
            top: 9px;
        }
        .add-block-select {
            height: 0;
            width: 0;
            overflow: hidden;
        }
        .add-block-btn {
            float: right;
        }
        .add-block-btn .glyphicon {
            top: 1px;
        }
        .loader {
            display: none;
            float: right;
            margin: 10px 10px 0 0
        }
        .ait-cms-field-separator {
            background: #d3cfc8;
            height: 1px;
            margin-bottom: 20px;
            clear: both;
        }
        .enabled-checkbox-btn:active {
            box-shadow: none;
        }
        .enabled-checkbox + .enabled-checkbox-on {
            display: none;
        }
        .enabled-checkbox + .enabled-checkbox-on + .enabled-checkbox-off {
            display: inline-block;
        }
        .enabled-checkbox:checked + .enabled-checkbox-on {
            display: inline-block;
        }
        .enabled-checkbox:checked + .enabled-checkbox-on + .enabled-checkbox-off {
            display: none;
        }
        .block-actions {
            clear: both;
            margin-bottom: 30px;
            padding: 0 15px 0 15px;
        }
    </style>

    <div id="block-workspace-widget-container" class="block-workspace-widget-container">
        <div class="add-block-container">
            <a href="#" id="add-block-btn" class="btn btn-success btn-sm sonata-ba-action add-block-btn"><i class="fa fa-plus-circle"></i> Add new</a>
            <img id="loader" class="loader" src="{{ asset('bundles/sonataadmin/ajax-loader.gif') }}">
            <select id="add-block-select" class="add-block-select invisible" dir="rtl">
                <option value="">Add Block</option>
                {% for service_id, instance in blocks %}
                    <option value="{{ service_id }}">{{ instance.title }}</option>
                {% endfor %}
            </select>
        </div>

        {{ form_widget(form) }}
    </div>

    <script>
        $(function () {
            'use strict';
            
            var widgetContainer = $('#block-workspace-widget-container'),
                blockContainer = $('#{{ id }}'),
                addBlockSelect = $('#add-block-select');

            $('#add-block-btn').on('click', function () {
                addBlockSelect.select2('open');
                return false;
            });

            addBlockSelect.on('change', function () {
                var select = $(this),
                    loader = $('#loader').show(),
                    routeParams = {
                        admin_service_id: '{{ sonata_admin.admin.code }}',
                        uniqid: '{{ sonata_admin.admin.uniqid }}'
                    };
                if (select.val()) {
                    routeParams.service_id = select.val();
                    $.get(Routing.generate('ait_cms_blank_form', routeParams), function (response) {
                        blockContainer.prepend($(response).hide().fadeIn());
                        select.val('').trigger('change');
                        ait_tinimce_init();
                        $(document).trigger('sonata-admin-append-form-element');
                        loader.hide();
                    });
                }

                return false;
            });

            widgetContainer.on('change', '.enabled-checkbox', function () {
                var self = $(this);
                console.log('test');
                $('#' + self.data('id')).iCheck(self.is(':checked') ? 'check' : 'uncheck');
            });

            widgetContainer.on('click', '.delete-block-btn', function () {
                if (!confirm('Really delete?')) {
                    return false;
                }

                var self = $(this),
                    container = self.parents('.ait-cms-block'),
                    id = self.data('id');

                container.slideUp();

                if (id) {
                    console.log('Deleted block with id ' + id);
                } else {
                    console.log('Removed block');
                }

                return false;
            });
        });
    </script>
{% endblock %}
